@page
@model Atom.Pages.EventSearch.SearchPreferencesModel
@{
    ViewData["Title"] = "Search Preferences";
}
<h1>@ViewData["Title"]</h1>



<div class="SearchPreferences">

    <div class="SearchPreferencesLeft">
        <p>This is a stub for preferences</p>
    </div>
</div>



    


