@page
@model Atom.Pages.OrganizationSettings.EventSettingsModel
@{
    ViewData["Title"] = "Event Settings";
}
<h1>@ViewData["Title"]</h1>



<div class="EventSettings">

    <a class="card">
        <h2>Public Event</h2>
    </a>
    <a class="card">
        <h2>Private Event</h2>
    </a>
  
</div>



    


