@page
@model Atom.Pages.OrganizationSettings.IndexModel
@{
	ViewData["Title"] = "Organization Settings";
}
	<!DOCTYPE html>
<html lang="en">

<h1>@ViewData["Title"]</h1>



<div class="dashboard">
    <a class="card" asp-page="/OrganizationSettings/CoordinatorSettings">
        <h2>Coordinator Settings</h2>
    </a>
    <a class="card" asp-page="/OrganizationSettings/EventSettings">
        <h2>Event Settings</h2>
    </a>
    <a class="card" asp-page="/OrganizationSettings/OrgUserSettings">
        <h2>Organization User Settings</h2>
    </a>
</div>
