@page
@model Atom.Pages.OrganizationSettings.OrgUserSettingsModel
@{
    ViewData["Title"] = "Organization User Settings";
}
<h1>@ViewData["Title"]</h1>



<div class="OrgUserSettings">

    <a class="card">
        <h2>Add User</h2>
    </a>
    <a class="card">
        <h2>Remove User</h2>
    </a>
    <a class="card">
        <h2>Update User</h2>
    </a>
  
</div>



    


